<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conditionals</title>
  <script src="vue.js"></script>
</head>

<body>

  <!-- <div id="app">
    <p v-if="show">You can see me!</span></p>
    <p v-else>Now you see me!</p>
    <template v-if="show">
      <h1>doki-doki</h1>
      <p>nani!?</p>
      <small>pipi poo poo</small>
    </template>
    <p>Do you also see me?</p>
    <button @click="show = !show">Disappear</button>
  </div> -->

  <div id="app">
    <ul>
      <li v-for="(ingredient, index) of ingredients">{{ingredient}} ({{index}})</li>
    </ul>
    <template v-for="(ingredient, index) of ingredients">
      <h1>{{ingredient}}</h1>
      <p>{{index}}</p>
    </template>
    <ul>
      <li v-for="person in persons">{{person.name}}
        <div v-for="(value, key) in person">{{key}}:{{value}}</div>
      </li>


    </ul>
  </div>

  <script>
    new Vue({
      el: "#app",
      data: {
        ingredients: ['meat', 'fruit', 'cookies'],
        persons: [{
          name: 'Max',
          age: 27,
          color: 'red'
        }, {
          name: 'Anna',
          age: 'unknown',
          color: 'blue'
        }]
        // show: true
      }
    })
  </script>
</body>

</html>